
:root {

      --gradient: linear-gradient(-90deg,hsl(151, 58%, 46%) 0%,hsl(170, 75%, 41%) 100%);
      --ff-league_spartan: 'League Spartan', sans-serif;
      --ff-poppins: 'Poppins', sans-serif; 

    
      --section-padding: 75px;
    
      --shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
      --shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
      --shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);
    

      --transition-1: 0.25s ease;
      --transition-2: 0.5s ease;
      --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
      --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    
    }
    
    
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    } 
    
    li { list-style: none; }
    
    
    a {
      color: inherit;
      text-decoration: none;
    }
    
    img { height: auto; }
    
    input,
    button {
      background: none;
      border: none;
      font: inherit;
    }
    
    input { width: 100%; }
    
    button { cursor: pointer; }
    
    ion-class { pointer-events: none; }
    
    address { font-style: normal; }
    
    html {
      font-family: var(--ff-poppins);
      font-size: 10px;
      scroll-behavior: smooth;
    }
    
    body {
      background-color:  hsl(0, 0%, 100%);
      color: var(--gray-web);
      font-size: 1.6rem;
      line-height: 1.75;
    }
  
  ::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
  
    .container { padding-inline: 15px; }
    
    .section { padding-block: var(--section-padding); }
    
    .shape {
      position: absolute;
      display: none;
    }
    
    .deck {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    
    .h1,
    .h2,
    .h3 {
      color: hsl(0, 0%, 9%);
      font-family: var(--ff-league_spartan);
      line-height: 1;
    }
    
    .h1,
    .h2 { font-weight: 600; }
    
    .h1 { font-size: 4.2rem; }
    
    .h2 { font-size: 3.2rem; }
    
    .h3 {
      font-size:  2.3rem;
      font-weight: 500;
    }
    
    .section-title {
      --color:  hsl(340, 76%, 51%);
      text-align: center;
    }
    
    .section-title .span {
      display: inline-block;
      color: var(--color);
    }
    
    .btn {
      background-color:  hsl(170, 75%, 41%);
      color:  hsl(0, 0%, 100%);
      font-family: var(--ff-league_spartan);
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 7px;
      max-width: max-content;
      padding: 10px 20px;
      border-radius: 5px;
      overflow: hidden;
    }
    
    .has-before,
    .has-after {
      position: relative;
      
    }
    
    .has-before::before,
    .has-after::after {
      position: absolute;
      content: "";
    }
    
    .btn::before {
      inset: 0;
      background-image: var(--gradient);
     
      border-radius: inherit;
      
    }
    
    .btn:is(:hover, :focus)::before { transform: translateX(0); }
    
    .img-holder {
      aspect-ratio: var(--width) / var(--height);
      background-color: var(--light-gray);
      overflow: hidden;
    }
    
    .img-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .section-subtitle {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      text-align: center;
      margin-block-end: 15px;
    }
    
    .section-text {
      font-size: 1.5rem;
      text-align: center;
      margin-block: 15px 25px;
    }
    
    .grid-list {
      display: grid;
      gap: 30px;
    }
    
    .category-card,
    .stats-card { background-color: hsla(var(--color), 0.1); }
    
    :is(.course, .blog) .section-title { margin-block-end: 40px; }
    
    
    
    
    
    
      /* #HEADER */
   
    
    
    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color:  hsl(0, 0%, 100%);
      padding-block: 12px;
      box-shadow: var(--shadow-1);
      z-index: 4;
    }
    
    
    .header .container,
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }
    
    
    
    .navbar {
      position: fixed;
      top: 0;
      left: -320px;
      background-color:  hsl(0, 0%, 100%);
      width: 100%;
      max-width: 320px;
      height: 100%;
      z-index: 2;
      transition: 0.25s var(--cubic-in);
    }
    
    .navbar.active {
      transform: translateX(320px);
      transition: 0.5s var(--cubic-out);
    }
    
    
    
   
    .navbar-list { padding: 15px 20px; }
    
    .navbar-item:not(:last-child) { border-block-end: 1px solid var(--platinum); }
    
    .navbar-link {
      padding-block: 8px;
      font-weight: 500;
      transition: var(--transition-1);
    }
    
    .navbar-link:is(:hover, :focus) { color:  hsl(170, 75%, 41%); }
    
    .overlay {
      position: fixed;
      background-color: var(--black_80);
      pointer-events: none;
    
      
    }
    
    
    .abc { padding-block-start: calc(var(--section-padding) + 80px); }
    
    .abc .container {
      display: grid;
      gap: 40px;
    }
    
    .abc-text {
      color: hsl(0, 0%, 9%);
      font-size: var(--fs-4);
      text-align: center;
      margin-block: 18px 20px;
    }
    
    
    
    .abc-banner {
      display: grid;
      grid-template-columns: 1fr 0.8fr;
      align-items: flex-start;
      gap: 30px;
    }
    
     .abc-banner .img-holder.one {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    
    .abc-banner .img-holder.two {
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
     
    
    
    
    
    .category .section-subtitle { color:  hsl(340, 76%, 51%); }
    
    .category .section-title { --color:  hsl(170, 75%, 41%); }
    
    .category .section-text { margin-block-end: 40px; }
    
    .category-card {
      padding: 50px 30px;
      text-align: center;
      border-radius: 5px;
    }
    
    .category-card .card-class {
      background-color: hsla(var(--color), 0.1);
      width: 80px;
      height: 80px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      margin-inline: auto;
      margin-block-end: 30px;
    }
    
    .category-card .card-text {
      color: hsl(0, 0%, 9%);
      font-size: 1.5rem;
      margin-block: 15px 25px;
    }
    
    .category-card .card-badge {
      background-color: hsla(var(--color), 0.1);
      color: hsl(var(--color));
      font-size: 1.5rem;
      font-weight: 500;
      padding: 2px 18px;
      max-width: max-content;
      margin-inline: auto;
      border-radius: 5px;
    }
    
    
    
    
    
    
    .about {
      padding-block-start: 0;
      overflow: hidden;
    }
    
    .about .container {
      display: grid;
      gap: 30px;
    }
    
    .about-banner {
      position: relative;
   
    }
    
    .about-banner .img-holder { border-radius: 10px; }
    
    .about-shape-2 {
      display: block;
      bottom: -100px;
      left: -60px;
      animation: bounce 2.5s infinite;
    }
    
    
    
    .about :is(.section-subtitle, .section-title, .section-text) {
      text-align: left;
    }
    
    .about-item {
      margin-block: 15px;
      display: flex;
      align-items: center;
      gap: 15px;
    }
    
    .about-item ion-class {
      color: hsl(42, 94%, 55%);
      font-size: 20px;
      --ionicon-stroke-width: 50px;
    }
    
    .about-item .span {
      color: hsl(0, 0%, 9%);
      font-family: var(--ff-league_spartan);
    }
  
    
    .footer {
  
      background-color: hsl(180, 3%, 7%);
      color:  hsl(0, 0%, 73%);
      font-size: 1.5rem;
      padding-top: 2px;
      margin-top: 5px;
    }
    
    .footer-top section {
      display: grid;
      gap: 10px;
    }
    .abcd{
    margin: 5px;
  
    }
    
    
    .footer-class-text { margin-block: 20px; }
    
    .footer-class .wrapper {
      display: flex;
      gap: 5px;
    }
    
    .footer-class .wrapper .span { font-weight: 500; }
    
    .footer-link { transition: var(--transition-1); }
    
   
    .footer-bottom {
      border-block-start: 1px solid hsl(0, 0%, 9%);
      padding-block: 10px;
    }
    
    .copyright { text-align: center; }
    
    .copyright-link {
      color:  hsl(170, 75%, 41%);
      display: inline-block;
    }
    
    
    
    
    
    
    
    #scrolltoTop{
    
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: rgb(142, 199, 55);
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
  }

  #scrolltoTop:hover {
      background-color: #0056b3;
  }
    
    
  
    
    @media (min-width: 560px) {
    
      .container {
        max-width: 520px;
        width: 100%;
        margin-inline: auto;
      }
  
      .header .container { max-width: unset; }
      .header-actions { gap: 30px; }
      .abc-banner { grid-template-columns: 1fr 0.9fr; }
      .footer-class,
      .footer-list:last-child { grid-column: 1 / 3; }
    }
    
    @media (min-width: 768px) {
  
     
      .container { max-width: 720px; }
    
      .btn { padding: 15px 30px; }
    
      
     
    
      .header .container { padding-inline: 30px; }
    
      .header .btn {
        display: flex;
        padding: 10px 30px;
        margin-inline: 20px;
      }
    
    
    
      
      .abc { padding-block-start: calc(var(--section-padding) + 90px); }
    
      .abc .container { gap: 50px; }
    
      .abc-text { margin-block-end: 30px; }
    
      .abc-banner {
        position: relative;
        z-index: 1;
      }
    
      .abc-banner .img-holder { max-width: max-content; }
    
      .abc-banner .img-holder.one { justify-self: flex-end; }
    
      .abc-banner .img-holder.two { margin-block-start: 100px; }
    
      .abc-shape-1 {
        display: block;
        position: absolute;
        bottom: -40px;
        left: -10px;
      }
    
    
    
      
    
      .about { padding-block-start: 50px; }
    
      .about-banner {
        padding: 60px;
        padding-inline-end: 0;
      }
    
      .about-banner .img-holder {
        max-width: max-content;
        margin-inline: auto;
      }
    
      .about-shape-1 {
        display: block;
        top: -40px;
        right: -70px;
      }
    
    
    
     
    
      .footer-class,
      .footer-list:last-child { grid-column: auto; }
    
      
    
    }
    
    
    
    
    
    
    @media (min-width: 92px) {
    
      .container { max-width: 960px; }
    
      .grid-list { grid-template-columns: repeat(4, 1fr); }
    
      
    
      .abc .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    
      .abc .section-title,
      .abc-text { text-align: left; }
      .about .container {
        grid-template-columns: 1fr 0.6fr;
        align-items: center;
        gap: 60px;
      }
    
      .footer .grid-list { grid-template-columns: 1fr 0.6fr 0.6fr 102fr; }
    
    }
    
    
    
    
    
    
    
    @media (min-width: 1200px) {
    
      
    
      :root {
        --section-padding: 120px;
      }
    
    
    
      
    
      .container { max-width: 1185px; }
    
      .shape { display: block; }
    
      
      
    
    
    
      
    
      .header-action-btn:last-child,
      
      .overlay { display: none; }
    
      .header.active {
        transform: translateY(-100%);
        animation: slideIn 0.5s ease forwards;
      }
    
    
      .navbar,
      .navbar.active { all: unset; }
    
      .navbar-list {
        display: flex;
        gap: 50px;
        padding: 0;
      }
    
      .navbar-item:not(:last-child) { border-block-end: none; }
    
      .navbar-link {
        color: hsl(0, 0%, 9%);
        padding-block: 20px;
      }
    
      .header .btn { margin-inline-end: 0; }
    
    
    
      
    
      .abc { padding-block-start: calc(var(--section-padding) + 120px); }
    
      .abc .container { gap: 80px; }
    
      .abc-shape-2 {
        top: -80px;
        z-index: -1;
      }
    
    
    
      
    
      .about .container { gap: 110px; }
    
      .about-banner .img-holder { margin-inline: 0; }
    
      .about-shape-3 {
        top: -20px;
        left: -100px;
        z-index: -1;
      }
    
      .about-content { z-index: 1; }
    
      .about-shape-4 {
        top: 30px;
        right: -60px;
        z-index: -1;
      }
    }
    
    
    
    
     
    
    .wrapper{
      max-width: 75%;
      margin: auto;
    }
    
    .wrapper > h1{
    margin: 1.5rem 0;
    text-align: center;
    }
    
    .wrapper > h1 {
      letter-spacing: 3px;
    }
    
    .accordion{
    
      background-color: white;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      font-size: 1.5rem;
      width: 100%;
      padding: 2rem 2.5rem;
      border: none;
      outline: none;
      transition: 0.4s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }
    
    .accordion i{
      font-size: 1.2rem;
    }
    .active, 
    .accordion:hover{
      background-color: #f1f7f5;
    
    }
    .pannel{
      padding: 0 2rem 2.5rem 2rem;
      background-color: white;
      overflow: hidden;
      background-color: #f1f7f5;
      display: none;
    }
    .pannel p{
      color: black;
      font-size: 1.5rem;
      line-height: 1.4;
    }
    
    .faq{
      border: 1px solid black;
      margin: 10px 0;
    
    }
    
    .faq.active{
      border:none
    }
    
    .card-badge:hover{
      color: red;
    }